header {
  @include flex-col-centered;
  width: 100%;
  height: 145px;
  min-height: 100px;
  background-color: $primary;
  position: relative;
  padding: 20px 0px;
  box-sizing: border-box;
  nav {
    @include flex-col-centered;
    gap: 10px;
    width: 100%;
    .nav-top {
      .logo {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px $box-shadow;
        &:hover {
          box-shadow: 0px 0px 10px 0px $hover;
          cursor: pointer;
        }
      }
    }
    .nav-center {
      @include flex-row-spaced;
      width: 60%;
      max-width: 500px;
      .nav-left {
        @include flex-row-centered;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 10px;
        .menu-icon {
          font-size: 30px;
        }
      }
      .nav-middle {
        @include flex-row-spaced;
        width: 100%;
        height: 40px;
        gap: 5px;
        .search-form {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          position: relative;
          .glas-icon {
            font-size: 20px;
            position: absolute;
            left: 5px;
          }
          .search-input {
            width: 100%;
            height: 100%;
            text-align: center;
            border: none;
            border-radius: 5px;
            &:focus {
              outline: none;
              box-shadow: 0px 0px 5px 2px $hover;
            }
          }
        }
      }
      .nav-right {
        @include flex-row-spaced;
        gap: 10px;
        position: absolute;
        right: 15px;
        a {
          text-decoration: none;
          position: relative;
          .count {
            @include flex-row-centered;
            width: 15px;
            height: 15px;
            background-color: $bg-1;
            padding: 10px;
            margin: 0;
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            top: 20px;
            left: 2px;
            border-radius: 50%;
          }
        }
        .cart-icon,
        .user-icon {
          color: black;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            color: $hover;
          }
        }
      }
    }
    .nav-bottom {
      @include flex-row-centered;
      width: 100%;
      background-color: $secondary;
      position: absolute;
      top: 145px;
      .categories-bar {
        @include flex-row-centered;
        gap: 0;
        max-width: 1000px;
        height: 50px;
        margin: 0;
        li {
          height: 100%;
          a {
            @include flex-row-centered;
            height: 100%;
            color: black;
            padding: 0 20px;
            font-weight: bold;
            text-decoration: none;
            &:hover {
              background-color: $hover;
            }
            &.active {
              background-color: rgb(210, 113, 113);
            }
          }
        }
      }
    }
  }
}

aside {
  width: 100vw;
  background-color: rgba(242, 152, 44, 0.95);
  position: absolute;
  z-index: 2;
  top: 145px;
  left: -100vw;
  transition: transform 0.3s 0s linear;
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
    a {
      color: black;
    }
    li {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .menu-item {
      margin-left: 20px;
      padding: 10px 0;
    }
    .sub-menu-item {
      margin-left: 40px;
    }
  }
  .close-icon {
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .category {
    color: black;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
