@import "./_variables";

//grid
@media (min-width: 1434) {
  .highlights,
  .categories,
  .products-div {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media (min-width: 1068px) and (max-width: 1433px) {
  .highlights,
  .categories,
  .products-div {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 700px) and (max-width: 1067px) {
  .highlights,
  .categories,
  .products-div {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .categories {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 699px) {
  .highlights,
  .products-div {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .categories {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

//only desktop
@media screen and (min-width: 1068px) {
  .checkout,
  .home-container,
  .product-detail,
  .shopping-cart {
    margin-top: 70px !important;
  }
  .category-box {
    width: 300px !important;
    height: 300px !important;
  }
  .category-name {
    width: 50% !important;
    height: 50% !important;
    background-color: $primary !important;
  }
  .credentials,
  .user-account-container,
  .products-container {
    margin-top: 50px !important;
  }
}

//tablet & desktop
@media screen and (min-width: 768px) {
  .nav-left {
    display: none;
  }
  .products {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 30px !important;
  }
  footer {
    padding: 50px !important;
    ul {
      flex-direction: row !important;
    }
  }
  .shopping-cart {
    table {
      font-size: 16px !important;
    }
  }
}
