//only tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

//only desktop
@media screen and (min-width: 1025px) {
  .products {
    margin-top: 50px;
  }
}

//tablet & desktop
@media screen and (min-width: 768px) {
  .nav-left {
    display: none;
  }
  .products {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 30px !important;
  }
  .categories {
    grid-template-columns: repeat(6, 1fr) !important;
    gap: 10px;
    .category-box {
      width: 200px !important;
      height: 200px !important;
    }
  }
}
