@mixin flex-row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-col-spaced {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
