$primary: #ffc529;
$secondary: #f79824;
$btn-hover: #33a1fd;
$success: green;
$warning: red;
$hover: rgb(247, 78, 78);
$box-shadow: lightgray;
$bg-1: white;
$link: blue;
$bg-root: beige;
$category-border: rgb(59, 59, 59);
$cat-bor-size: 1.5px;
$header-height: 120px;
