.counter {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  button {
    &:hover {
      background-color: $secondary;
      cursor: pointer;
    }
    &:active {
      background-color: $success;
    }
  }
}
