header {
  @include flex-col-centered;
  width: 100%;
  height: 15%;
  padding: 20px 0px;
  min-height: 100px;
  background-color: $primary;
  nav {
    @include flex-col-centered;
    width: 100%;
    gap: 10px;
    position: relative;
    .nav-top {
      .logo {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 0px gray;
        &:hover {
          box-shadow: 0px 0px 4px 2px gray;
          cursor: pointer;
        }
      }
    }
    .nav-center {
      @include flex-row-spaced;
      width: 60%;
      max-width: 500px;
      .nav-left {
        @include flex-row-centered;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 10px;
        .menu-icon {
          font-size: 30px;
        }
      }
      .nav-middle {
        @include flex-row-spaced;
        width: 100%;
        height: 40px;
        gap: 5px;
        .search-form {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          position: relative;
          .glas-icon {
            font-size: 20px;
            position: absolute;
            left: 5px;
          }
          .search-input {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 5px;
            text-align: center;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .nav-right {
        @include flex-row-spaced;
        gap: 10px;
        position: absolute;
        right: 20px;
        a {
          text-decoration: none;
          position: relative;
          .count {
            @include flex-row-centered;
            width: 18px;
            height: 18px;
            font-weight: bold;
            position: absolute;
            top: 22px;
            left: 4px;
            font-size: 18px;
            background-color: white;
            border-radius: 50%;
            margin: 0;
          }
        }
        .cart-icon,
        .user-icon {
          color: black;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
    .nav-bottom {
      @include flex-row-centered;
      background-color: $secondary;
      width: 100%;
      margin-top: 10px;
      .categories-bar {
        @include flex-row-centered;
        gap: 0;
        margin: 0;
        max-width: 900px;
        height: 50px;
        li {
          height: 100%;
          a {
            @include flex-row-centered;
            height: 100%;
            padding: 0 20px;
            color: black;
            text-decoration: none;
            font-weight: bold;
            &:hover {
              background-color: red;
            }
          }
        }
      }
    }
  }
}

aside {
  width: 100vw;
  height: 100vh;
  background-color: $secondary;
  position: absolute;
  top: 15%;
  left: -100vw;
  transition: transform 0.3s 0s linear;
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
    li {
      width: 100%;
      height: 50px;
      // background-color: red;
      padding: 0 20px;
      display: flex;
      align-items: center;
    }
    .category {
      color: black;
      font-size: 20px;
    }
  }
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
