.home-container {
  @include flex-col-spaced;
  gap: 10px;
  padding-bottom: 10px;
  .categories-div {
    @include flex-col-spaced;
    padding: 0 10px;
    h2 {
      text-align: center;
      margin: 10px;
    }
    .categories {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .category-box {
        @include flex-row-centered;
        width: 200px;
        height: 100px;
        font-size: 20px;
        background-color: $secondary;
        border-radius: 10px;
        color: black;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .best-rating-div {
    @include flex-col-spaced;
    padding: 0 10px;
    h2 {
      text-align: center;
      margin: 10px;
    }
    .best-rated-products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .best-rated-product {
        * {
          margin: 0;
        }
        @include flex-col-centered;
        gap: 10px;
        color: black;
        text-decoration: none;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px lightgray;
        img {
          width: 150px;
          height: 100px;
          object-fit: cover;
        }
        .title {
          text-align: center;
        }
      }
    }
  }
}
