.product-card {
  @include flex-row-spaced;
  width: 90%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  gap: 20px;
  box-shadow: 0px 0px 10px 0px lightgray;
  & * {
    margin: 0;
  }
  .product-image {
    width: 40%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .price {
      text-align: right;
      font-size: 23px;
      font-weight: bold;
      padding: 0;
      span {
        vertical-align: text-top;
        font-size: 15px;
      }
    }
    .details {
      color: rgba(45, 83, 236, 0.89);
      font-weight: bold;
      font-size: 15px;
      font-style: italic;
      &:hover {
        color: red;
      }
    }
  }
}
