.shopping-cart {
  @include flex-col-centered;
  gap: 30px;
  width: 100%;
  height: calc(100vh - 145px);
  h1 {
    margin: 0;
  }
  table {
    border: solid 1px black;
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    .price-td {
      text-align: center;
    }
  }
}
