.shopping-cart {
  @include flex-col-centered;
  gap: 30px;
  width: 100%;
  height: calc(100vh - 145px);
  h1 {
    margin: 0;
  }
  table {
    border: solid 1px black;
    width: 90%;
    max-width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
    button {
      border: solid 1px gray;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0px 0px 4px 0px lightgray;
      padding: 4px 8px;
    }
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th {
      background-color: orange;
    }
    .price-td {
      text-align: center;
    }
    .title-td {
      padding-left: 5px;
    }
    .total-td {
      background-color: orange;
      padding-left: 5px;
    }
  }
}
