.user-account-container {
  @include flex-col-centered;
  gap: 20px;
  width: 100%;
  min-height: calc(100vh - 145px);
  h2 {
    margin: 0;
  }
  .user-settings {
    width: 80%;
    max-width: 400px;
    background-color: $primary;
    border: solid black 1px;
    border-bottom: none;
    .user-setting {
      @include flex-row-centered;
      width: 100%;
      border-bottom: solid 1px black;
      padding: 20px;
      font-weight: bold;
      &:hover {
        background-color: $hover;
        cursor: pointer;
      }
    }
  }
}
