.checkout {
  @include flex-row-centered;
  gap: 100px;
  width: 100%;
  min-height: calc(100vh - $header-height);
  margin: 20px 0;
  .order-success {
    color: $success;
    text-align: center;
  }
  p {
    margin: 0;
    font-size: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 400px;
    background-color: $bg-1;
    padding: 40px;
    input,
    select {
      padding: 10px;
    }
    button {
      background-color: $secondary;
      padding: 10px;
      font-weight: bold;
      border: none;
      &:hover {
        background-color: $btn-hover;
        cursor: pointer;
      }
    }
  }
}
