.credentials {
  @include flex-row-centered;
  width: 100%;
  min-height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    margin: 0;
  }
  .warning {
    font-size: 13px;
    color: $warning;
    margin: 0;
  }
  .success {
    color: $success;
    text-align: center;
  }
  .selecting-div {
    @include flex-row-centered;
    width: 100%;
    max-width: 700px;
    height: 450px;
    background-color: $bg-1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    input[type="radio"] {
      accent-color: $secondary;
      width: 20px;
      height: 20px;
    }
    label {
      font-weight: bold;
    }
    .radio-div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .sign-up-div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .registration-form {
        @include flex-col-centered;
        gap: 10px;
      }
    }
    .log-in-div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .login-form {
        @include flex-col-centered;
        gap: 10px;
      }
    }
    .form-input {
      width: 300px;
      padding: 10px;
      border: solid 1px gray;
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 10px;
      cursor: pointer;
    }
  }
}
