.home-container {
  @include flex-col-spaced;
  width: 100%;
  gap: 30px;
  margin: 30px 0;
  .categories-div {
    @include flex-col-spaced;
    gap: 20px;
    h2 {
      text-align: left;
      width: 100%;
      margin: 0;
      text-align: center;
      background-color: $primary;
      padding: 3px;
      letter-spacing: 2px;
    }
    .categories {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      flex-wrap: wrap;
      gap: 5px;
      .category-box {
        display: flex;
        flex-wrap: wrap;
        width: 150;
        height: 150px;
        font-size: 18px;
        background-color: $bg-1;
        color: black;
        text-decoration: none;
        font-weight: bold;
        box-shadow: 0px 0px 5px 2px $box-shadow;
        &:hover {
          box-shadow: 0px 0px 7px 3px $secondary;
        }
        cursor: pointer;
        .category-name {
          @include flex-col-centered;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: $secondary;
        }
        .category-img-div {
          @include flex-col-centered;
          width: 50%;
          height: 50%;
          &:nth-child(2) {
            border-left: solid $cat-bor-size $category-border;
          }
          &:nth-child(3) {
            border-top: solid $cat-bor-size $category-border;
          }
          &:nth-child(4) {
            border-left: solid $cat-bor-size $category-border;
            border-top: solid $cat-bor-size $category-border;
          }
          .category-image {
            @include flex-col-centered;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .highlights-div {
    @include flex-col-spaced;
    padding: 0 10px;
    gap: 20px;
    h2 {
      text-align: center;
      margin: 0px;
      background-color: $primary;
      width: 100%;
      padding: 3px;
      letter-spacing: 2px;
      letter-spacing: 2px;
    }
    .highlights {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;
      .highlight {
        * {
          margin: 0;
        }
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 320px;
        height: 100px;
        gap: 10px;
        color: black;
        text-decoration: none;
        background-color: $bg-1;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 2px $box-shadow;
        padding: 5px;
        &:hover {
          background-color: $primary;
        }
        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
        }
        .product-infos {
          display: flex;
          flex-direction: column;
          width: 220px;
          .price {
            font-weight: bold;
          }
          .old-price {
            color: $warning;
            font-weight: bold;
            text-decoration: line-through;
          }
          .new-price {
            font-weight: bold;
            color: $success;
          }
        }
      }
    }
  }
}
