.product-detail {
  * {
    margin: 0;
  }
  @include flex-col-spaced;
  gap: 20px;
  width: 85%;
  max-width: 500px;
  min-height: calc(100vh - 145px);
  background-color: $bg-1;
  margin: 20px 0;
  padding: 25px;
  border-radius: 5px;
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  .price-info {
    @include flex-col-centered;
    .price {
      font-size: 40px;
      font-weight: bold;
    }
    .old-price {
      color: $warning;
      font-weight: bold;
      text-decoration: line-through;
    }
    .new-price {
      color: $success;
      font-size: 30px;
      font-weight: bold;
    }
  }
}
