@import "./styles/_variables";
@import "./styles/_mixin";
@import "./styles/_media";
@import "./styles/Footer";
@import "./styles/Header";
@import "./styles/ProductCard";
@import "./styles/Products";
@import "./styles/Home";
@import "./styles/BestRatedProduct";
@import "./styles/ProductDetail";
@import "./styles/Credentials";

*::placeholder {
  font-style: italic;
}

.add-button {
  font-weight: bold;
  padding: 10px 30px;
  background-color: $secondary;
  border: none;
  border-radius: 20px;
}
